@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* Reset Style for CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", Arial, monospace;
}

/* ---------------------------------------------------------------------------------- */
/*                        Flex container for page content                             */
/* ---------------------------------------------------------------------------------- */

.flex-container {
  /* flex and flex wrap: wrap will allow content to move around the page for different page sizes
     */
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}

.flex-container div {
  background-color: grey;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* ---------------------------------------------------------------------------------- */
/*                                        Home Page                                   */
/* ---------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-container {
  grid-row: 1;
  grid-column: 1;
  width: 1440px;
  height: 810px;
  min-width: 1440px;
  min-height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.cell {
  grid-row: span 1;
  grid-column: span 1;
  background-color: black;
  z-index: 2;
}

.fg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

.mouse-map-img {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  overflow: hidden;
}

#bg-gradient {
  z-index: -1;
  position: absolute;
}

.spinning-link {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  /* background-color: transparent; */
  border-radius: 50%;
  overflow: hidden;
  /* opacity: 0; */
}

.invisible-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 50%; /* This makes it a circle */
  opacity: 0;
}

.spin-cw {
  animation: cw 60s linear infinite; /* Adjust the animation duration as needed */
}

.spin-ccw {
  animation: ccw 60s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ccw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* ---------------------------------------------------------------------------------- */
/*                                  Loading Page                                      */
/* ---------------------------------------------------------------------------------- */

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  border: 8px solid #35d0f2;
  border-top: 8px solid #dc6cf0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------------------------------------------------- */
/*                                     Nav bar                                        */
/* ---------------------------------------------------------------------------------- */

/* PRIMARY NAV BAR */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2; /* Set a higher z-index value */
  background-color: transparent; /* Make the background transparent */
}

.navbar ul li {
  float: right;
}

.navbar ul li a {
  display: block;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: black; /* Change background color on hover */
  color: white;
}

/* SUB NAV BAR */

.sub-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 51px;
    left: 10px;
    z-index: 2;
    background-color: transparent;
    width: 10%;
  }

  .sub-navbar ul li {
    float: top;
  }


  .sub-navbar ul li a {
    box-sizing: border-box;
    display: inline-block;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    width: 100%;
    text-decoration: none;
    /* outline: 2px solid white; */
    padding: 10px;
  }

  .sub-navbar ul li a:hover {
    background-color: black; /* Change background color on hover */
    color: white;
  }
  

/* Pseudo class that is only applied when .active is not present  */
/* .navbar li a:hover:not(.active) { */
/* background-color: rgb(214, 95, 214); */
/* background-color: black; */
/* } */

/* ---------------------------------------------------------------------------------- */
/*                                   Sub-Page Content                                 */
/* ---------------------------------------------------------------------------------- */

.left-edge, .right-edge, .bottom-edge {
  position: absolute;
  background-color: transparent;
  top: 51px; /* Nav bar height */
  height: calc(100% - 51px);
  width: 10px;
  z-index: 1;
}

.left-edge {
  left: 0;
}

.right-edge {
  right: 0;
}

.bottom-edge {
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 10px;
}

.content-container {
  background-color: black;
  position: absolute;
  top: 51px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  display: flex;
}

.content-container .exercise-window {
    background-color: white;
    position: absolute;
    overflow: hidden;
    display: flex;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 20px;

}

.content-container .exercise-window iframe{
    width: 100%;
    height: 100%;
}

.content-container .picture {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 10%;
  width: 50%;

  justify-content: center;
}

.content-container .text-box {
  width: 50%;
  color: white;
  font-family: "EB Garamond", Arial, monospace;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  overflow: auto; /* Add this line for scrolling */
}

.content-container .text-box p {
  margin-right: 10px;
}

.content-container .text-box::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.content-container .text-box::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.content-container .text-box::-webkit-scrollbar-track {
  background-color: black;
}


